/* Theme Colors: 962D3E, 343642, 979C9C, F2EBC7, 348899 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F2EBC7;
	color: #343642;
	font-size: 12pt;
	font-family: 'Prociono', Georgia, serif;
}

h1 {
	color: #962D3E;
}

a {
	color: #348899;
	text-decoration: none;
}

a:hover {
	color: #979C9C;
	cursor: pointer;
}

.header {
	border-top: solid 8px #962D3E;
	margin-bottom: 15px;
}

.nav {
	margin-top: 10px;
	margin-left: 10%;
}

.li {
	display: inline;
	list-style: none;
	margin-right: 10px;
}

.title {
	color: #962D3E;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.main {
	font-family: 'Prociono', Georgia, serif;
	font-size: 64pt;
}

.sub {
	font-family: 'Prociono', Georgia, serif;
	font-size: 14pt;
}

.footer-sub {
	font-size: 30pt;
}

.button {
	border: solid 2px #343642;
	font-color: #343642;
	display: inline-block;
	padding: 5px;
	font-size: 18pt;
	margin-top: 20px;
	padding: 15px;
}

.button:hover {
	background-color: #962D3E;
	color: #979C9C;
	cursor: pointer;
}

.circle {
	border-radius: 50%;
}

.flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
   	display: -ms-flexbox;  /* TWEENER - IE 10 */
   	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
   	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
   	align-items: center;
}

.column {
	flex-direction: column;
}

.footer {
	text-align: center;
	width: 100%;
	margin-bottom: 2%;
}

.line {
	border-top: solid 1px #962D3E;
	width: 100%;
	margin-left: 1%;
    margin-right: 1%;
}

.main-img {
	margin-top: -60px;
}

.logo {
	z-index: 2;
	width: 100px;
}

.main-wrapper {
	min-height: calc(100vh - 126px);
}

.titles {
	margin-top: -40%
}

.img-wrapper {
     width: 60%;
}