/* Theme Colors: 962D3E, 343642, 979C9C, F2EBC7, 348899 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F2EBC7;
	color: #343642;
	font-size: 12pt;
	font-family: 'Prociono', Georgia, serif;
}

h1 {
	color: #962D3E;
}

a {
	color: #348899;
	text-decoration: none;
}

a:hover {
	color: #979C9C;
	cursor: pointer;
}

strong {
	color: #962D3E;
}

th, td {
	padding: 15px;
}

th, td, table {
	border: 1px solid black;
}

.header {
	border-top: solid 8px #962D3E;
	margin-bottom: 15px;
}

.nav {
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

.sub-nav {
	margin-left:15%
}

.left-nav {
	float: left;
}

.right-nav {
	float: right;
}

.clear {
	clear: both;
}

.li {
	display: inline;
	list-style: none;
	margin-right: 10px;
	text-transform: uppercase;
}

.sub-li {
	display: inline;
	list-style:none;
	margin-right: 10px;
	text-transform: lowercase;
}

.title {
	color: #962D3E;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
}

.main {
	font-family: 'Prociono', Georgia, serif;
	font-size: 58pt;
}

.container {
  width: 100%;
}

.sub {
	font-family: 'Prociono', Georgia, serif;
	font-size: 14pt;
	text-align: center;
}

.footer-sub {
  margin-bottom: -30px;
	font-size: 30pt;
}

.button {
	border: solid 2px #343642;
	background-color: transparent;
	font-color: #343642;
	display: inline-block;
	padding: 5px;
	font-size: 18pt;
	margin-top: 20px;
	padding: 15px;
}

.button:hover {
	background-color: #962D3E;
	color: #979C9C;
	cursor: pointer;
	margin-bottom: 20px;
}

.circle {
	border-radius: 50%;
}

.flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
 	display: -ms-flexbox;  /* TWEENER - IE 10 */
 	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
 	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
 	align-items: center;
}

.column {
	flex-direction: column;
}

.footer {
	text-align: center;
	width: 100%;
}

.line {
	border-top: solid 1px #962D3E;
	width: 100%;
	margin-left: 1%;
  margin-right: 1%;
  margin-top: 3%;
}

.main-img {
	margin-top: 20px;
	width: 35%;
	height: auto;
}

.logo {
	z-index: 2;
	width: 100px;
}

.main-wrapper {
	min-height: calc(100vh - 126px);
}

.titles {
	margin-top: -10%;
}

.img-wrapper {
  width: 100%;
}

.portfolio {
	font-family: 'Prociono', Georgia, serif;
	font-size: 46pt;
}

.portfolio-title {
	margin-bottom: 12px;
}

.portfolio-icons {
	margin-left: 10%;
	margin-right: 10%
}

.gallery-container {
	margin-left: 5%;
	margin-right: 5%;
}

.input-field {
	width: 80%;
  max-width: 700px;
  margin: 1%;
  line-height: 2em;
  padding: 6px;
  font-size: 1em;
  border-radius: 3px;
  border: none;
}

.email {
	font-family: 'Prociono', Georgia, serif;
}

.message {
	font-family: 'Prociono', Georgia, serif;
}

.about {
	max-width:500px;
	margin-top:20px;
}

.about-text {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo-images {
	max-width: 200px;
}

@media (max-width: 481px) {
  .main {
    font-size: 34px;
  }
  .sub {
 	  font-size: 10pt;
  }
  .footer-sub {
 	  font-size: 18pt;
  }
  .button {
 	  font-size: 14pt;
 	  margin-top: 10px;
 	  padding: 5px;
  }
  .img-wrapper {
 	  width: 95%;
  }
  h2 {
 	  font-size: 14pt;
  }
}
