<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Prociono' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="header">
      <div class="nav">
        <ul class="left-nav">
          <li class="li"><a href="index.html">Home</a></li>
          <li class="li"><a href="about.html">About</a></li>
          <li class="li"><a href="resume.html">Resume</a></li>
          <li class="li"><a href="portfolio.html">Portfolio</a></li>
          <li class="li"><a href="contact.html">Contact</a></li>
        </ul>

        <ul class="right-nav">
          <li class="li"><a href="https://www.linkedin.com/in/lesliekimm" target="_blank"><img src="imgs/linkedin.png" height="25px" /></a></li>
          <li class="li"><a href="https://www.facebook.com/lesliekimmartist/" target="_blank"><img src="imgs/facebook.png" height="25px" /></a></li>
          <li class="li"><a href="https://twitter.com/lesliekimm" target="_blank"><img src="imgs/twitter.png" height="25px" /></a></li>
          <li class="li"><a href="https://www.instagram.com/lesliekimmakes/" target="_blank"><img src="imgs/instagram.png" height="25px" /></a></li>
        </ul>
      </div>
    </header>
    
    <div class="container">
      {{ content }}
    </div>

    <script src="./vendor/jquery-2.2.0.min.js"></script>
    <script src="./js/portfolio.js"></script>
  </body>
</html>